.activityCard {
  position: relative;
  overflow: hidden;
}

.activityIcon {
  transition: none;
  z-index: 2;
  position: relative;
}

.recommendationsContainer {
  position: relative;
}

.disclaimer {
  position: relative;
  overflow: hidden;
} 